<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Friendly Rent</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item <%= path == "MainPage" ? "active" : "" %>"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item <%= path == "TeamPage" ? "active" : "" %>"><a href="/team" class="nav-link">Team</a></li>
                <li class="nav-item"><a href="/" class="nav-link">Properties</a></li>
<% if(!user) {%> 
                <!--this is the modal button-->
                <li class="nav-item <%= path == "SignUpPage" ? "active" : "" %>"><a data-toggle="modal" data-target="#myModal" href="" class="nav-link">Sign up </a>
                </li>
                <li class="nav-item <%= path == "LoginPage" ? "active" : "" %>"><a href="/login" class="nav-link">Sign in </a></li> 
<% } if(user) {%>
                <li class="nav-item <%= path == "ProfilePage" ? "active" : "" %>"><a href="/profile" class="nav-link">Profile </a></li>
<% } %>
            </ul>
        </div>
    </div>
</nav>
<input id="_DataUser" type="hidden">
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div id="JAJAJA" style="display: none; text-align: center; padding: 1rem; font-size: 2rem;">
                <i class="fas fa-user-secret"></i>
                <p>este es tu IP</p>
                <p id="IP"></p>
                <div id="mapHack"></div>
                
                <p>y se que estas aqui</p>
                <i class="fab fa-themeisle"></i>
            </div>

            <!--This is the modal's content-->
            <div class="card bg-light">
                <form id="signUp" method="POST" action="/signup" onsubmit="return validatorSignUpSubmit();">
                    <article class="card-body mx-auto" style="max-width: 400px;">
                        <h4 class="card-title mt-3 text-center">Create Account</h4>
                        <p class="text-center">Get started with your free account</p>

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <label for="fullName" class="input-group-text"> <i class="fa fa-user"></i> </label>
                            </div>
                            <input id="fullName" name="fullName" class="form-control" placeholder="Full name"
                                type="text" minlength="" maxlength="60" pattern="([A-Za-z]+)([ ]{1}[A-Za-z]+)*" required>
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <label for="userName" class="input-group-text"> <i class="fas fa-address-card"></i>
                                </label>
                            </div>
                            <input id="userName" name="userCode" class="form-control" placeholder="User name"
                                type="text" maxlength="20" pattern="([A-Za-z]+)" required>
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <label for="email" class="input-group-text"> <i class="fa fa-envelope"></i> </label>
                            </div>
                            <input id="email" name="email" class="form-control" placeholder="Email address"
                                type="email" required>
                                <div id="emailValid" style="width:100%; text-indent:2rem; color:#dc3545; display:none;">this email is already registered</div>
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <label for="select" class="input-group-text"> <i class="fa fa-building"></i> </label>
                            </div>
                            <select id="select" name="identifUser" class="form-control" required>
                                <option value="" selected> what are you looking for? </option>
                                <option value="owner"> I'm renting my apartment </option>
                                <option value="customer">I'm looking for an apartment</option>
                            </select>
                        </div> <!-- form-group end.// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <label for="password" class="input-group-text"> <i class="fa fa-lock"></i> </label>
                            </div>
                            <input id="password" name="userPassword" class="form-control" placeholder="Create password"
                                type="password" minlength="8" required>
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <label for="password2" class="input-group-text"> <i class="fa fa-lock"></i> </label>
                            </div>
                            <input id="password2" name="password" class="form-control" placeholder="Repeat password"
                                type="password" minlength="8" required>
                            <div id="passwordValid" style="width:100%; text-indent:2rem; color:#dc3545; display:none;">the password is not the same as the previous one</div>
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" >Create Account</button>
                        </div> <!-- form-group// -->
                        <p class="text-center">Have an account? <a href="">Log In</a> </p>
                </form>
                </article>
            </div>

        </div>
    </div>
</div>
<!-- END modal-->