<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery  bootstrap v4.5.0 //https://getbootstrap.com/-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css">
    <title>Rental Information's form</title>
</head>

<body class="signup">
    <div class="container">
        <div class="col-sm-6 mx-auto">
            <div class="card mt-5">
                <div class="card-body">
                    <header>
                        <h2>Rental Information</h2>
                        <br>
                        <br>
                    </header>
                    <main>
                        <form class="form-horizontal" action="/new-booking" method="POST">
                            <input type="hidden" id="_idApartment" name="_idApartment" value="<%= apartment._id %>">
                            <input type="hidden" id="_idUser" name="_idUser" value="<%= userID %>">
                            <div class="form-group">
                                <label for="rentalStartDate">Rental Start Date</label>
                                <input class="form-control" type="date" id="rentalStartDate" name="rentalStartDate" min="<%= currentDate %>" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="rentalTime">Rental Time</label>
                                <input class="form-control" type="text" id="rentalTime" name="rentalTime" required value="<%= apartment.durationMonths %>">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="rentalPrice">Rental Price</label>
                                <input class="form-control" type="text" id="rentalPrice" name="rentalPrice" required value="<%= apartment.price %>">
                            </div>
                            <br>
                            <input class="btn btn-dark btn-lg" id="submit" type="submit" value="Send">
                        </form>
                    </main>
                </div>
            </div>
        </div>
    </div>
</body>

</html>