<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <%- include ("partials/head.ejs") %>

</head>

<body>
    <%- include('partials/header'); %>
    <div class="container">
        <header class="text-center">
            <h1>Profile Page</h1>
        </header>
        <hr>

        <div class="container">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3><span class="fa fa-user"></span>Local</h3>
                        <p>
                            <strong>id</strong>: <%= user._id %> <br>
                            <strong>email</strong>: <%= user.local.email %> <br>
                            <strong>password</strong>: <%= user.local.password %>
                        </p>
                        <a href="/logout" class="btn btn-light">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mostrar Tablas perfil cliente y propietario-->
    <div class="container">
        <% if (isCustomer) { %>
        <div>
            <br>
            <hr>
            <h2>My history</h2>
            <p>List of rented apartments:</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Apartment Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < apartmentCustomer.length; i++) { %>
                    <tr>
                        <td><%= apartmentCustomer[i].title %></td>
                        <td><%= apartmentCustomer[i].startDate %></td>
                        <td><%= apartmentCustomer[i].endDate %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <% } else if (isOwner) { %>

        <div>
            <br>
            <hr>
            <h2>My history</h2>
            <p>List of rented apartments:</p>
            <br>
            <% for (let i = 0; i < apartmentOwner.length; i++) { %>
            <h4><u><%= apartmentOwner[i].title %></u></h4>
            <%#  console.log("vista renderizada-----XXXXXXXXXXXX", apartmentOwner) %>

            <br>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let x = 0; x < apartmentOwner[i].bookingDetail.length; x++) { %>
                    <tr>
                        <td><%= apartmentOwner[i].bookingDetail[x].idUser.fullName %></td>
                        <td><%= apartmentOwner[i].bookingDetail[x].contractStartDate %></td>
                        <td><%= apartmentOwner[i].bookingDetail[x].contractEndPlannedDate %></td>
                        <td>
                            <form action="/add-comment" method="POST">
                                <label for="id_owner"></label>
                                <input type="hidden" value="<%= apartmentOwner[i].registerUser._id %>" name="id_owner"
                                    id="id_owner">

                                <label for="id_user"></label>
                                <input type="hidden" value="<%= apartmentOwner[i].bookingDetail[x].idUser._id %>"
                                    name="id_user" id="id_user">

                                <input class="btn btn-dark btn-xs" value="Inserta comentario" type="submit">
                            </form>
                        </td>
                        <td>
                            <form action="/rejected" method="POST">

                                <label for="id_apartment"></label>
                                <input type="hidden" value="<%= apartmentOwner[i]._id %>" name="id_apartment"
                                    id="id_apartment">
                                <label for="id_booking"></label>
                                <input type="hidden" value="<%= apartmentOwner[i].bookingDetail[x]._id %>"
                                    name="id_booking" id="id_booking">
                                <%  if(apartmentOwner[i].bookingDetail[x].requestStatus!="pending"){ %>
                                <input class="btn btn-danger btn-xs" value="Rechazar" type="submit" disabled>
                                <% } else { %>
                                <input class="btn btn-danger btn-xs" value="Rechazar" type="submit">
                                <% } %>
                            </form>
                        </td>
                        <td>
                            <form action="/accepted" method="POST">

                                <label for="id_booking"></label>
                                <input type="hidden" value="<%= apartmentOwner[i].bookingDetail[x]._id %>"
                                    name="id_booking" id="id_booking">
                                <%  if(apartmentOwner[i].bookingDetail[x].requestStatus!="pending"){ %>
                                <input class="btn btn-success btn-xs" value="Aceptar" type="submit" disabled>
                                <% } else { %>
                                <input class="btn btn-success btn-xs" value="Aceptar" type="submit">
                                <% } %>

                            </form>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <br>
            <% } %>

        </div>

        <% } %>

    </div>

</body>

</html>