<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/animatemin.css">
        <title>Team</title>
        <style>
            #summary p.collapse:not(.show) {
                height: 62px !important;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
            
            #summary p.collapsing {
                min-height: 62px !important;
            }
            
            #summary a.collapsed:after {
                content: '+ Read More';
            }
            
            #summary a:not(.collapsed):after {
                content: '- Read Less';
            }
        </style>
</head>

<body>

    <%- include('partials/header'); %>

        <!-- END nav -->


        <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                    <div class="col-md-9 pb-0 text-center">
                        <h1 class="mb-3 bread">Team</h1>
                    </div>
                </div>
            </div>
        </section>


        <div>

            <div class="container">
                <div class="row">
                    <% team.forEach(el => {%>
                        <div class="col-sm-4">
                            <img src="<%=el.urlImg%>" style="width: 300px; height: 450px; object-fit: cover;  ">
                            <h3>
                                <%=el.name%>
                            </h3>
                            <a style="font-size: 2rem" href="<%=el.urlGit%>"><i class="fab fa-github-square"></i></a>
                            <a style="font-size: 2rem" href="<%=el.urlLinkedIn%>"><i class="fab fa-linkedin"></i></a>
                            <p>
                                <%=el.description.substring(0, 200);%>
                                    <span>...</span>
                            </p>
                        </div>
                        <% });%>
                </div>
            </div>
        </div>



        <!-- loader -->
        <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#F96D00" /></svg></div>


        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-migrate-3.0.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.easing.1.3.js"></script>
        <script src="js/jquery.waypoints.min.js"></script>
        <script src="js/jquery.stellar.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.animateNumber.min.js"></script>
        <script src="js/scrollax.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
        <script src="js/google-map.js"></script>
        <script src="js/main.js"></script>

</body>

</html>